<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>CÔNG VIỆC BẮT ĐẦU SAU 1 TIẾNG</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <style>
    a {
      color: #030303 !important;
      text-decoration: none;
    }
  </style>
</head>

<body style="background-color: #fcfcf9;font-family: Arial, sans-serif;color: #333333;margin: 0;padding: 0;">
  <!-- Main email container (centered) -->
  <table role="presentation" width="100%" cellpadding="0" cellspacing="0"
    style="background-color: #fffffd; padding: 0; margin: 0;">
    <tr>
      <td align="center">
        <table role="presentation" width="600" cellpadding="0" cellspacing="0"
          style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);border-radius: 8px;">

          <!-- start logo -->
          <tr>
            <td align="center" style="background-color:rgb(253, 253, 253);">
              <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                <tr>
                  <td align="center" valign="top" style="padding: 36px 24px;">
                  
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <!-- end logo -->
          <!-- Hero Section -->
          <tr>
            <td style="background-color:#e1f134; color: #141313;text-align: center;padding: 40px 20px;">
              <h1 style="margin: 0; font-size: 24px; font-weight: bold">
                Bạn có các công việc cần bắt đầu trong 1 giờ tới!
              </h1>
            </td>
          </tr>

          <!-- Main Content Section -->
          <tr>
            <td style="padding: 20px; background-color: #fcfcfa;">
              <h2 style="color: #030303; font-size: 20px; text-align:center;">
                Xin chào {{email}},
              </h2>
              <p style="line-height: 1.6; font-size: 16px; text-align:center; color:#030303 !important;">
                Bạn vẫn có công việc: {{name}} bắt đầu lúc {{startDate}}.
              </p>
              </br>
            </td>
          </tr>

          <!-- Footer Section -->
          <tr>
            <td style="background-color: #f4f4f7;text-align: center;padding: 20px;font-size: 12px;color: #999;">
              <p style="margin: 0">
                Bạn nhận được email này vì chúng tôi nhận thấy bạn có công việc bắt đầu lúc {{startDate}}.
              </p>
              <p style="margin: 0">© 2025 Friday. All Rights Reserved.</p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>