SERVER_PORT = 
POSTGRES_PORT = 
POSTGRES_PASSWORD = 
POSTGRES_USERNAME = 
ACCESS_TOKEN_SECRET = 
ACCESS_TOKEN_EXPIRES_IN = 
NODE_ENV = 
MOCK_USER_ID = 
WEBHOOK_URL = 
WEBHOOK_WEIGHT = 
WEBHOOK_API_KEY = 
DATABASE = 
API_KEY_LIMIT = 
DURATION = 
AWS_S3_BUCKET_NAME=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
REFRESH_TOKEN_SECRET = 
REFRESH_TOKEN_EXPIRES_IN = 
REDIS_HOST = 
REDIS_PORT =
REDIS_TTL = 
TOKEN_SECRET = 
TOKEN_EXPIRES_IN = 
SES_EMAIL_ADDRESS = 
CONFIRM_REGISTER_URL = 
